.lifeLine{
    margin: 0;
    position: relative;
    background: #1f237e;
    width: 100%;
    padding-top: 16px;
    margin-bottom: 0px;
}

.lifeLine ul.lifeLineWrapper{
    display: flex;
}

.lifeLine ul.lifeLineWrapper li{
    margin-right: 8px;
    width: calc(25% - 16px);
    display: flex;
    flex-direction: column;
}

.lifeLine ul.lifeLineWrapper li:last-child{
    margin-right: 0;
}

.lifeLine ul.lifeLineWrapper li .lifeLineList{
    border-radius: 16px;
    border: 2px solid #4C51AF;
    background: #4C51AF;
    width: 86px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.lifeLine ul.lifeLineWrapper li .lifeLineList.disabled{
    position: relative;
    cursor: not-allowed;
    opacity: 0.6;
}
.lifeLine ul.lifeLineWrapper li .lifeLineList.disabled::before{
    content: "";
    position: absolute;
    top: 23px;
    left: 23px;
    cursor: not-allowed;
    background: url(/img/noLifeline.png) no-repeat;
    width: 30px;
    height: 30px;
}

.lifeLine ul.lifeLineWrapper li span{
    font-size: 11px;
}
@media only screen and (max-width:768px) {
  .lifeLine ul.lifeLineWrapper li .lifeLineList.disabled::before{
    left: 27px;
    top: 26px;
  }
}

@media only screen and (max-width:400px) {
    .lifeLine ul.lifeLineWrapper li .lifeLineList{
        width: 74px;
        height: 74px;

    }
    .lifeLine ul.lifeLineWrapper li span{
        font-size: 9px;
        white-space: nowrap;
    }
}

@media only screen and (max-width:350px) {
  .lifeLine ul.lifeLineWrapper li .lifeLineList{
    width: 70px;
    height: 70px;

}

.lifeLine ul.lifeLineWrapper li .lifeLineList.disabled::before{
  left: 18px;
  top: 18px;
}
}

@media only screen and (max-width:330px) {
  .lifeLine ul.lifeLineWrapper li .lifeLineList{
    width: 66px;
    height: 66px;

}
}



.shine {
    position: relative;
    overflow: hidden;
  }
  
  .shine:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    opacity: 0.6;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    left: -10%;
    top: 1px;
    -webkit-animation: shine 1.8s ease infinite;
    animation: shine 1.8s ease infinite;
  }
  
  @-webkit-keyframes shine {
    0% {
      opacity: 0.6;
      left: -10%;
    }
  
    66% {
      opacity: 1;
      left: 100%;
    }
  
    to {
      opacity: 1;
      left: 100%;
    }
  }
  
  @keyframes shine {
    0% {
      opacity: 0.6;
      left: -10%;
    }
  
    66% {
      opacity: 1;
      left: 100%;
    }
  
    to {
      opacity: 1;
      left: 100%;
    }
  }
