.floatingIcon{
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 2001;
    border-radius: 50px;
    height: 76px;
    width: 76px;
    box-shadow: 0px 0px 28px #000;
    cursor: pointer;
}



  
/*   
  @keyframes glowing {
    0% {
      -webkit-box-shadow: 0 0 0 0 #f27c2c;
      box-shadow: 0 0 0 0 #f27c2c;
    }
  
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(141, 183, 247, 0.09);
      box-shadow: 0 0 0 10px rgba(141, 183, 247, 0.09);
    }
  }

@media (min-width: 768px) {
    .floatingIcon{
        display: none;
    }
} */