.contentList{
    padding: 16px 0px 0px 0px;
    color: #fff;
}

.contentList h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
    position: relative;
    text-align: center;
}

.contentList h2::before{
    content: "";
    height: 3px;
    background: #FF7E26;
    width: 150px;
    position: absolute;
    top: 38px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.contentList ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contentList ul li{
    line-height: 1.4;
    padding-bottom: 24px;
    padding-left: 40px;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: #a8a5ff;
}

.contentList ul li:before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #191e7b; */
}

.contentList ul li:after {
    content: "";
    display: flex;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 14px;
    border: solid #a8a5ff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}