.smListCard {
  padding: 0;
  position: relative;
  color: #fff;
  margin-bottom:0px;
  width: 100%;
  margin-top: 30px;
}

.smListCard ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.smListCard ul li {
  text-align: center;
  padding: 0px;
  min-height: 64px;
  background: #272c93;
  border-top: #4c51af solid 1px;
  border-right: #4c51af solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.smListCard ul li:last-child {
  border-right: none;
  border-radius: 0px 0px 16px 0px;
}

.smListCard ul li:first-child{
  border-radius: 0px 0px 0px 16px;
}

.smListCard ul li h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.smListCard ul li p {
  font-size: 12px;
  font-weight: 400;
}
