.timeOver {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.timeOver .card {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #282D93 url(../../../../public/img/cardBG.svg) no-repeat top 0px left -6px;
    border-radius: 16px;
    padding: 0px 0px 0px 0px;
    min-height: 320px;
    background-size: contain;
    text-align: center;
    position: relative;
}

.timeOver .card h1 {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.wellPlayed{
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.claimCoins{
  color: rgba(255, 255, 255, 0.74);
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

.timeOver .card p {
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
}

.timeOver .card p.smText{
  font-size: 13px;
  margin-top: 0;
}
.good{
  color: #5FFF9F;
  font-size: 26px;
  vertical-align: middle;
}
.average{
  color:#f27c2c;
  font-size: 26px;
  vertical-align: middle;
}
.bad{
  color:#FF5050;
  font-size: 26px;
  vertical-align: middle;
}
.timeOver .card p img{vertical-align: middle; margin-left: 4px;}

.timeOver .score {
  padding: 0px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.timeOver .score img {
  width: 60px;
}
.timeOver .score span {
  margin-left: 0px;
  width: 45%;
}
.timeOver .score span strong {
  font-size: 44px;
  font-weight: 700;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.timeOver .animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.pulse {
  -webkit-animation: pulse 1.5s infinite ease-in-out alternate;
  animation: pulse 1.5s infinite ease-in-out alternate;
}

.smCoins {
  vertical-align: top;
  padding-left: 3px;
}

@media only screen and (max-width:380px) {

  .timeOver .card p {
    font-size: 10px;
  }
}

@media only screen and (max-width:360px) {

  .timeOver .card p {
    font-size: 9px;
  }
}
