.quizCard {
  display: flex;
  flex-wrap: wrap;
  /* background: #272c93;
  -webkit-box-shadow: inset 0 3px 13px #353a9b, 0 -1px 10px #3b41a7;
  box-shadow: inset 0 3px 13px #353a9b, 0 -1px 10px #3b41a7;
  border: #4c51af solid 1px; */
  border-radius: 8px;
  margin-top: 8px;
  color: var(--white);
  position: relative;
}

.header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 22px;
}

.header p {
  color: rgba(255, 255, 255, 0.64);
  line-height: 20px;
}

.quizCard .header {
  background: #272c93;
  -webkit-box-shadow: inset 0 3px 6px #1b2084, 0 8px 16px #30359a;
  box-shadow: inset 0 3px 6px #1b2084, 0 8px 16px #30359a;
  border-bottom: #4c51af solid 1px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  padding: 16px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  min-height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quizCard .header h1 {
  color: var(--white);
  text-align: center;
}

.quizCard p {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
}

.quizCard .footer {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  position: relative;
  top: 14px;
}

.quizCard .footer h4{
  font-weight: normal;
  color: rgba(255, 255, 255, 0.60);
  font-size: 18px;
}
.quizCard .footer h4 span{
  color: #fff;
  font-weight: bold;
}

.lifeLine{
  position: absolute;
    bottom: 42px;
    border-radius: 50px;
    border: 4px solid #0E0A5F;
    background: #f27c2c;
    padding: 6px 24px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.quizCard .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #282d93;
    border-radius: 16px;
    /* padding: 40px 8px; */
    min-height:280px;
    background-size: contain;
}

.qNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  width: 35%;
  height: 24px;
  margin: 20px auto 0px auto;
  align-items: center;
}

.qNumbers .lite {
  padding-left: 4px;
  padding-right: 4px;
}
.qNumbers .bold {
  padding-left: 4px;
  font-weight: bold;
  font-size: 14px;
}

.qaOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #1f237e url('/img/cardBG.svg') no-repeat top 0px left -6px;
  /* background: #282d93; */
  border-radius: 16px;
  padding: 24px 8px 24px 8px;
  min-height: 240px;
  background-size: contain;
}

.qaOptions.cardSpacer{
  min-height:320px;
  padding: 24px 8px 34px 8px;
}

.qaOptions h3 {
  padding: 12px 0px;
  padding-top: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  width: calc(100% - 16px);
}

.footer h4 {
  font-size: 14px;
}

.qaOptions ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.qaOptions ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  margin-bottom: 12px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.qaOptions ul li button {
  width: 100%;
  min-height: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  color: #282d93;
  font-weight: 600;
  box-shadow: 0 1px 3px #2a2f98;
  border: 0px solid #272c93;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
}

.qaOptions ul li button.fifty50{
  background: #6c73ff;
}

.qaOptions ul li button.flipQuestion{
  -webkit-animation: flip 1s;
  animation: flip 1s;
}

@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}


.qaOptions ul li button.prediction {
  background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(108, 115, 255, 1) 50%);
  color: #fff;
  -webkit-animation: prediction 2s ease;
  animation: prediction 2s ease;
  background-size: 200% 100%;
}

.qaOptions ul li button.prediction.twentyFive{
  background-size: 50% 100%;
}

.qaOptions ul li button.prediction.fifty{
  background-size: 100% 100%;
}

.qaOptions ul li button.prediction.sixty{
  background-size: 160% 100%;
}

.qaOptions ul li button.prediction.seventyFive{
  background-size: 175% 100%;
}

.qaOptions ul li button.prediction.eighty{
  background-size: 180% 100%;
}
.qaOptions ul li button.prediction.eightyFive{
  background-size: 185% 100%;
}

.qaOptions ul li button.prediction.ninety{
  background-size: 190% 100%;
}

.qaOptions ul li button.prediction.ninetyFive{
  background-size: 195% 100%;
}

.qaOptions ul li button.prediction.hundred{
  background-size: 200% 100%;
}

.qaOptions ul li button.predictionCorrect {
  /* background: transparent -webkit-gradient( linear,left top,right top,from(#2dd3a8),color-stop(50%,#3fd1ac),to(#ffffff) ) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg,#2dd3a8 0%,#3fd1ac 50%,#ffffff 100%) 0% 0% no-repeat padding-box; */
  background:linear-gradient(90deg, #2dd3a8 0%, #2dd3a8 50%, rgb(108 115 255) 50%);
  -webkit-animation: prediction 2s linear;
  animation: prediction 2s linear;
  background-size: 200% 100%;
  color:#fff;
}

@-webkit-keyframes prediction {
  0% {
    background-size: 200% 0
  }

  25% {
    background-size: 175% 0
}

50% {
  background-size: 100% 0
}

75% {
  background-position: 50% 0
}

  100% {
      background-position: 0% 0
  }
}

@keyframes prediction {
  0% {
      background-position: 200% 0
  }
  1100% {
    background-position: 100% 0
}
  150% {
      background-position: 50% 0
  }

  100% {
    background-position: 0% 0
}
}

@-webkit-keyframes prediction-correct {
  0% {
    background-position: 0 0
  }

25% {
  background-position: 25% 0
}

50% {
background-position: 50% 0
}

75% {
background-position: 75% 0
}

100% {
    background-position: 80% 80%
}
}

@keyframes prediction-correct {
  0% {
    background-position: 0 0
  }

25% {
  background-position: 25% 0
}

50% {
background-position: 50% 0
}

75% {
background-position: 75% 0
}

100% {
    background-position: 100% 100%
}
}

.qaOptions ul li button.correct {
  -webkit-box-shadow: 0 1px 3px #2a2f98;
  box-shadow: 0 1px 3px #2a2f98;
  background: #31d2a9 0% 0% no-repeat padding-box;
  border: 0px solid #31d2a9;
  color: #fff;
  width: 100%;
  min-height: 50px;
  height: 100%;
}

.qaOptions ul li button.incorrect {
  -webkit-box-shadow: 0 1px 3px #2a2f98;
  box-shadow: 0 1px 3px #2a2f98;
  background: #ef4242 0% 0% no-repeat padding-box;
  border: 0px solid #de5353;
  color: #fff;
  width: 100%;
  min-height: 50px;
  height: 100%;
}


.qaHeader {
  border-radius: 8px 8px 0 0;
  text-align: center;
  padding: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
}

.questionTimer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-weight: 600;
}

.questionIncorrect {
  width: 60px;
  display: flex;
  line-height: 7px;
}

.questionCorrect {
  width: 60px;
  display: flex;
  line-height: 7px;
  font-weight: bold;
  font-size: 18px;
}

.questionCorrect::before {
  width: 15px;
  height: 6px;
  content: '';
  display: flex;
  border-radius: 8px;
  margin-right: 8px;
  background: #1fca83;
}

.answersTimer {
  background: #182c61;
  border-radius: 58px;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -42px;
  border: 4px solid #fb0;
}

.answersTimer h1 {
  margin-top: 6px;
  margin-bottom: 4px;
}

.qaHeader p {
  width: 100%;
}

.answersTimer span {
  font-weight: 500;
  font-size: 9px;
  color: #a6b7e5;
  text-transform: uppercase;
  line-height: 16px;
  position: relative;
  width: 100%;
  top: -10px;
}

.questionIncorrect {
  justify-content: flex-end;
}
.questionIncorrect {
  width: 60px;
  display: flex;
  line-height: 7px;
}

.questionIncorrect::before {
  width: 15px;
  height: 6px;
  content: '';
  display: flex;
  border-radius: 8px;
  margin-right: 8px;
  background: #ef4242;
}

.shine {
  position: relative;
}


.shine:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  opacity: 0.6;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  left: -10%;
  top: 1px;
  -webkit-animation: shine 1.8s ease infinite;
  animation: shine 1.8s ease infinite;
}

@-webkit-keyframes shine {
  0% {
    opacity: 0.6;
    left: -10%;
  }

  66% {
    opacity: 1;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 100%;
  }
}

@keyframes shine {
  0% {
    opacity: 0.6;
    left: -10%;
  }

  66% {
    opacity: 1;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 100%;
  }
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shakeX {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeX {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.animate__shakeX {
  -webkit-animation-name: shakeX;
  animation-name: shakeX;
}



