.main {
  padding: 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: clip;
}

.container {
  position: relative;
  padding: 1rem;
  width: 428px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #0E0A5F;
  overflow: hidden;
  padding-top: 0;
}

/* .container::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.container::before,
.container::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.container::after {
  background: var(--secondary-glow);
  width: 480px;
  height: 360px;
  z-index: -1;
  left: 50%;
  bottom: 0px;
  z-index: 0;
} */

.header {
  padding: 0;
  margin: 0;
}
.ad {
  height: 280px;
  width: 100%;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: transparent;
  position: relative;
}

.signinSignup {
  color: #4c51af;
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
}

.login {
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    padding: 1rem;
    width: 100%;
    padding-top: 0;
  }
}
