.report{
    width: 428px;
    margin: 0px auto;
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
}

.report .inner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 428px;
    overflow: hidden;
    background: transparent;
    background: rgb(0 0 0 / 70%);
    height: 100%;
}

.wrapper{
    background: #282D93;
    width: 100%;
    height: auto;
    padding: 30px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    border-radius: 16px 16px 0px 0px;
    min-height: 200px;
    bottom: 0;
}

.wrapper h1{
    font-size: 18px;
}

.wrapper p{
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
}

.listSec{
    margin: 16px 0px;
}

.listCheck{
    margin-top: 16px;
}

.inputText{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    margin-top: 8px;
    font-size: 16px;
    background: #17136f;
    border: 2px solid #656cff;
    color: #fff;
    font-size: 16px;
}

.lableText{
    font-size: 14px;
    font-weight: normal;
}

.reportBtn{
    height: 54px;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    float: right;
    border-radius: 50px;
    margin-top: 0px;
    background: #fc8c1b;
    outline: none;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 11px;
    top: 10px;
    background: #0E0A5F;
    border-radius: 50px;
    cursor: pointer;
}
.close::before {
    position: absolute;
    left: 19px;
    top: 11px;
    content: " ";
    height: 18px;
    width: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.close::after {
    position: absolute;
    left: 19px;
    top: 11px;
    content: " ";
    height: 18px;
    width: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.rakList{
    border-bottom: solid 1px #4c51af8c;
    padding-bottom: 16px;
}

.between{
    display: flex;
    justify-content: space-between;
}

.rakList:last-child{
    border-bottom: none;
}

.spacer{
    margin-top: 24px;
}

.bolder{
    font-weight: bold;
}

.bolder img{
    vertical-align: top;
    margin-top: 4px;
}