.funFact {
  margin-top: 16px;
  padding: 16px 8px;
  border-radius: 16px;
  background: #1d2285;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 93px;
}

.funFact::before {
  content: '';
  content: url(../../../public/img/funFactBg.png);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 1;
}

.funFact::after{
    content: "";
    content: url(../../../public/img/funFactBg.png);
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0px;
    top: -8px;
    z-index: 1;
    transform: rotate(-180deg);
}

.funFact p{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    z-index: 2;
}

.funFact h3 {
  position: relative;
  z-index: 2;
}
