.signinSignup{
    margin-top: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.signinSignup .login{
    color: #FF7E26;
    font-size: 16px;
    margin:0px 5px;
    text-decoration: underline;
    font-weight: bold;
}