.tab {
  position: relative;
}

.tab ul.contests {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}

.tab ul.contests li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}

.tab ul.contests li a.active {
  border-bottom: solid 3px #f5f6ff;
  color: #f5f6ff;
}

.tab ul.contests li a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  border-bottom: solid 3px #4c51af;
  color: #a6b7e5;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
}

.tabContent {
  display: flex;
  flex-wrap: wrap;
}
